.help {
  overflow: hidden;
  width: 100%;
  padding: 40px 0 41px;
  background-color: #f0f0f0;
}

.help dl {
  float: left;
  margin-right: 85px;
}

.help dl dt {
  font-size: 14px;
  line-height: 14px;
  padding-bottom: 20px;
  color: #333;
  font-weight: 700;
}

.help dl dd a {
  color: #999;
  display: block;
  padding-bottom: 12px;
  font-size: 12px;
}

.help dl .red a {
  color: red;
}

.help dl dd a:hover {
  text-decoration: underline;
}

.help dl img {
  display: block;
  width: 100px;
}

.help .app {
  margin-right: 54px;
}


.help .last-r {
  width: 172px;
  text-align: center;
  margin-right: 0px;
}

.help .last-r .phone {
  font-size: 20px;
  line-height: 20px;
  padding-bottom: 2px;
  letter-spacing: 2px;
  color: red;
}

.help .last-r .grey {
  font-size: 12px;
  color: #999;
  line-height: 18px;
}

.help .last-r a {
  display: inline-block;
  width: 160px;
  height: 36px;
  color: red;
  font-size: 12px;
  margin-top: 20px;
  border: 1px solid red;
  box-sizing: border-box;
  line-height: 34px;
  background: url(../images/);
  transition: all .5s;
}

.help .last-r a i {
  font-size: 22px;
  margin-right: 3px;
  vertical-align: top;
  font-weight: 600;
  text-decoration: none;
}

.help .last-r a:hover {
  color: #fff;
  background-color: red;
}

.footer {
  width: 100%;
  padding: 25px 0;
  font-size: 12px;
  color: #999;
  background-color: #e3e3e3;
}

.footer p {
  line-height: 22px;
}

.footer .blod a {
  padding: 0 15px;
  color: #666;
}

.footer .blod a:first-child {
  padding-left: 0;
}

.footer p a {
  color: #999;
}

.footer .copyright .ban {
  color: #666;
}

.footer .marginL {
  margin-left: 10px;
}

.footer a:hover {
  text-decoration: underline;
}

.footer p img {
  float: left;
}

.footer .ac {
  text-align: center;
}

.footer .ac img {
  height: 32px;
}

.footer .ac a:nth-child(1) {
  margin-left: 5px;
}

.footer .language {
  position: relative;
  float: right;
  right: 0;
  top: 8px;
  height: 29px;
  line-height: 29px;
}

.footer .language a {
  padding: 0 12px;
  cursor: pointer;
  transition-duration: .3s;
  color: #555;
}