.top-bar {
  background-color: #666;
  height: 40px;
  line-height: 40px;
}

.top-bar-wrap {
  width: 1228px;
  margin: 0 auto;
  position: relative;
}

.nav {
  background-color: #fff;
  position: relative;
}

.nav-bar {
  position: relative;
}

.nav-right {
  position: absolute;
  right: 0;
  top: 0;
}

.nav-right .zh {
  position: relative;
}

.info {
  position: absolute;
  width: 294px;
  z-index: 999;
  top: 40px;
  background: #fff;
  right: -20px;
  padding: 26px 16px 0;
  border: 1px solid #EEE;
  box-sizing: border-box;
}

.infotop img {
  float: left;
  height: 50px;
  width: 50px;
  border-radius: 50px;
  margin-right: 18px;
  margin-top: -5px;
}

.infotop .inforight {
  width: 170px;
  float: left;
}

.infotop .inforight {
  width: 170px;
}

.infotop .inforight .p1 {
  margin-right: 9px;
  line-height: 24px;
  font-size: 14px;
  width: 80px;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-block;
  overflow: hidden;
  color: #666;
}

.infotop .inforight .p2 {
  color: #333;
  font-size: 12px;
  line-height: 24px;
}

.infotop .inforight .p2 span {
  color: red;
}

.infobom {
  margin-top: 20px;
}

.infobom a {
  display: block;
  width: 100%;
  text-align: center;
  line-height: 35px;
  color: #000;
  cursor: pointer;
  margin-bottom: 10px;
  color: #000 !important;
}

.nav-left li,
.nav-right li {
  float: left;
}

.nav-left li a,
.nav-right li a {
  color: rgb(204, 204, 204);
  font-size: 11px;
}

.nav-left li {
  margin-right: 43px;
  height: 41px;
  display: inline-block;
}

.nav-right i {
  width: 1px;
  height: 13px;
  border-right: 1px solid #979797;
  margin-left: 15px;
  float: left;
  margin-top: 16px;
}

.nav-right li>a {
  padding-left: 15px;
}

.nav-right .newheader-circle {
  color: #CCC;
  font-size: 12px;
}


.nav-bar {
  width: 1270px;
  height: 80px;
  padding: 20px 0;
  line-height: 40px;
  margin: 0 auto;
  box-sizing: border-box;
}

.hea-box {
  position: relative;
  float: left;
  top: -10px
}

.headername {
  margin-left: 10px;
  color: #666;
}

.menu {
  margin-left: 100px;
  position: relative;
}

.menu .menu_line {
  height: 4px;
  background-color: red;
  position: absolute;
  left: 0;
  bottom: -15px;
  transition: 0.2s all;
  z-index: 999
}

.menu li {
  float: left;
  height: 100%;
  box-sizing: content-box;
  cursor: pointer;
  padding: 0 12px;
}

.menu li a {
  font-size: 14px;
  display: block;
  color: #333;
}

.nav .menu-list {
  position: absolute;
  background-color: #FFF;
  box-shadow: 0 0.5em 1em rgba(0, 0, 0, .03);
  z-index: 100;
  width: 100%;
  min-width: 1340px;
}

.nav .menu-list .menuBarLi {
  height: 210px;
  padding: 30px 0 36px;
  text-align: center;
  box-sizing: border-box;
}

.nav .menu-list .menuBarLi ul {
  max-width: 1920px;
  height: 100%;
  margin: 0 auto;
  display: inline-block;
}

.nav .menu-list .menuBarLi ul li {
  max-width: 162px;
  margin: 0 30px;
  float: left;
}

.menu-list .m_img {
  display: block;
  width: 160px;
  height: 100px;
  line-height: 100px;
  margin: 0 auto;
}

.menu-list img {
  max-width: 160px;
  max-height: 100px;
}

.menu-late {
  position: relative;
  line-height: 40px;
}

.nav .menu-list li p {
  height: 12px;
  font-size: 12px;
  margin-top: 8px;
  line-height: 12px;
  text-align: center;
  color: #333;
  overflow: hidden;
}

.nav .menu-list li .red {
  color: red;
}

.menu-late font {
  border-left: 1px solid #e3e3e3;
  width: 1px;
  height: 18px;
  margin: 0 7px 0 0;
}

.menu-late a {
  padding: 0 10px;
  font-size: 14px;
}

.menu-late-search {
  position: relative;
  height: 36px;
  display: inline-block;
}

.menu-late input {
  border: 1px solid #ccc;
  height: 34px;
  padding: 0 5px;
  width: 170px;
  text-indent: 10px;
}

.menu-late .sear {
  background-color: #e4e4e4;
  width: 28px;
  height: 28px;
  display: block;
  text-align: center;
  line-height: 28px;
  border-radius: 50%;
  position: absolute;
  right: 9px;
  top: 8px;
  cursor: pointer;
}